extend layout
block content
	table
		each val, name in content.element
			tr
				td= name
				if val && val.files
					td
						each file in val.files
							if file.mimetype == 'image/jpeg'
								img(src=file.uri)
							else
								a(href=file.uri) #{file.originalname}
				else
					td= val
		each val in content.navigation
			tr
				td
				td
					a(href=val.link) #{val.name}
