extend layout
block content
	form(method=content.form.method action=content.form.action)
		each field in content.fields
			label(for=field.param) #{field.name}
			input(type=field.type name=field.param)
		button(type="submit") #{content.form.buttonName}