extend layout
block content
	form(method=content.form.method action=content.form.action enctype=content.form.isMultipart?"multipart/form-data":undefined)
		each field in content.form.fields
			label(for=field.name) #{field.label}
			if field.value.files
				each file in field.value.files
					if file.mimetype == 'image/jpeg'
						img(src=file.uri)
					else
						a(href=file.uri) #{file.originalname}
			else
				input(type=field.type name=field.name value=field.value?field.value:undefined disabled=field.isBody?"disabled":undefined)
