extend layout
block content
	table
		tr
			each column in orderLink
				th
					a(href=column.link) #{column.name}

		each row in content
			tr
				each val in row
					if val && val.files
						td
							each file in val.files
								if file.mimetype == 'image/jpeg'
									img(src=file.uri)
								else
									a(href=file.uri) #{file.originalname}
					else
						td= val
				each val in row.navigation
					td
						a(href=val.link) #{val.name}
	ul
		each page in pagination.pages
			li
				a(href=page.link class=page.active?"active":"") #{page.name}