extend layout
block content
	form(method=content.form.method action=content.form.action)
		each field in content.fields
			label(for=field.fieldName) #{field.labelForm}
			input(type=field.formType name=field.fieldName value=field.value)
		button(type="submit") #{content.form.buttonName}